@import '~antd/dist/antd.css';

@bgColor : #efefef;

body{
  font-size: 14px;
  color:#333;
  font-family: '微软雅黑';
  background-color: @bgColor;
}

header{
  height: 70px;
  width: 975;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  .right{
    height: 40px;
    .avatar{
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    span{
      margin-left: 5px;
      margin-right: 5px;
    }
    .ant-dropdown-trigger{
      display: block;
      height: 60px;
      color:#333;
      &:hover{
        color: #1890ff;
      } 
    }
  }
}

.app{
  height: 100vh;
  width: 100vw;
}
.aside{
  display: flex;
  justify-content: space-between;
  &-menu{
    height: calc(100vh - 140px);
  }
  .right{
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction:column;
    .content{
      height: calc(100vh - 210px);
      overflow: hidden;
    }
  }
}

footer{
  height: 70px;
  width: 975;
  background: #001529;
  color: #fff;
  line-height: 70px;
  text-align: center;
}